html,body,.container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: row;
}
.first{
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: aqua;
}
.second{
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: darkgreen;
}
.third{
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: goldenrod;
}
.forth{
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: brown;
}
.first-first,.first-second,.first-third,.first-forth{
    flex: 1;
    display: flex;
    border-right: 1px solid #000000;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.second-first,.second-second,.second-third,.second-forth{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #000000;
}
.third-first,.third-second,.third-third,.third-forth{
    flex: 1;
    display: flex;
    border-right: 1px solid #000000;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.forth-first,.forth-second,.forth-third,.forth-forth{
    flex: 1;
    display: flex;
    border-right: 1px solid #000000;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
