.navigation{
    margin: 20px;
}

.navigation ul{
    list-style-type: none;
}

.navigation ul li{
    float: right;
}

.navigation ul li a{
    margin: 20px;
    padding: 10px;
    border: 2px solid red;
    text-decoration: none;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background-color: blueviolet;
    color: azure
}