head,body{
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0;
}

button{
    background-color: blue;
    color: yellow;
    padding: 15px;
    border: 2px solid red;
    border-radius: 50%;
}
button:hover{
    box-shadow: 2px 2px rgba(0, 0, 255, 0.7);
    background-color: aqua;
}