head,body,.contain{
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}
.contain{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: aqua;
}

@media screen and (max-width: 500px){
   .contain{
        background-color: yellow;
   } 
}